body{
    background-image: url(../Image/africa.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container{
    background-color: rgba(211, 211, 211, 0.678);
    padding: 5%;
    color: darkblue;
    margin-top: 10vh;
    border-radius: 20px;
}

.bottom-margin{
    margin-bottom: 1vh;
}